<div class="row">
	<div class="col-md-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="exclude" value="comment"
					onchange="window.reload()" <%- form.checked(query.exclude.comment) %>>
				Comment
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="exclude" value="goal"
					onchange="window.reload()" <%- form.checked(query.exclude.goal) %>>
				Goal
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="exclude" value="substitution"
					onchange="window.reload()" <%- form.checked(query.exclude.substitution) %>>
				Substitution
			</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="exclude" value="yellow_card"
					onchange="window.reload()" <%- form.checked(query.exclude.yellow_card) %>>
				Yellow card
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="exclude" value="red_card"
					onchange="window.reload()" <%- form.checked(query.exclude.red_card) %>>
				Red card
			</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="exclude" value="half_time"
					onchange="window.reload()" <%- form.checked(query.exclude.half_time) %>>
				Half time
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="exclude" value="full_time"
					onchange="window.reload()" <%- form.checked(query.exclude.full_time) %>>
				Full time
			</label>
		</div>
	</div>
</div>
