<!DOCTYPE html>
<html>
	<head>
		<title>Dribler - <%= format.teams(lineup.teams) %></title>

		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/app.css">

		<style type="text/css">
			iframe {
				border: none;
				margin: 0;
				padding: 0;

				width: 100%;
				margin-bottom: 20px;
			}

			.user {
				margin-bottom: 20px;
				text-align: right;
			}

			.threads {
				border: 1px solid #ddd;
				table-layout: fixed;
			}
			.threads .thread-title {
				width: 45%;
			}
			.threads .thread-username {
				width: 10%;
			}
			.threads .thread-subreddit {
				text-align: left;
				width: 10%;
			}
			.threads .thread-timestamp {
				width: 25%;
			}
			.threads .thread-actions {
				width: 10%;
				text-align: right;
			}

			.thread-fields {
				margin-top: 30px;
			}
			.thread-fields .thread-captcha {
				padding-top: 8px;
			}

			.actions {
				margin-top: 30px;
				margin-bottom: 20px;
			}

			.exclude-events-label {
				margin-top: 15px;
			}
		</style>

		<script type="text/javascript">
			(function() {
				var serialize = function(inputs) {
					var result = [];

					for(var i = 0; i < inputs.length; i++) {
						var inp = inputs[i];

						if(inp.checked) {
							var pair = [inp.name, inp.value].map(encodeURIComponent).join('=');
							result.push(pair);
						}
					}

					return result.join('&');
				};

				var reload = function() {
					var content = document.getElementById('thread-content');
					var inputs = document.querySelectorAll('input[name=exclude],input[name=view]');

					var src = content.src.split('?')[0];

					content.src = src + '?' + serialize(inputs);
				};

				var resize = function() {
					var iframe = document.getElementById('thread-content');
					var reddit = document.getElementById('reddit-form');

					var height = reddit.clientHeight;

					iframe.style.height = height + 'px';
				};

				window.onready = function() {
					resize();
					reload();
				};

				window.reload = reload;
				window.resize = resize;
			}());
		</script>
	</head>
	<body onload="window.onready()">
		<div class="container">
			<%{ './_tabs' { active: 'reddit', iif: iif, match: match } }%>

			<div class="page-header">
				<h1><%= format.teams(lineup.teams) %></h1>
			</div>


			<% if(match.threads.length) { %>
				<form class="form-inline user" method="POST" action="/matches/reddit/<%= match.id %>/login">
					<div class="form-group">
						<input type="text" name="user_username" class="form-control" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" name="user_password" class="form-control" placeholder="Password">
					</div>

					<input type="submit" class="btn btn-default" value="Login">
				</form>

				<table class="table threads">
					<tbody>
						<% match.threads.forEach(function(thread) { %>
							<tr class="active">
								<td class="thread-title"><a target="_blank" href="<%= thread.url %>"><%= thread.title %></a></td>
								<td class="thread-username text-right"><%= thread.username %></td>
								<td class="thread-subreddit text-right">/r/<%= thread.subreddit %></td>
								<td class="thread-timestamp timestamp">
									<span class="created">created <%= format.timestamp(thread.created) %></span>
									<span class="updated text-success">(updated <%= format.timestamp(thread.updated) %>)</span>
								</td>
								<td class="thread-actions">
									<form class="form-link" action="/matches/reddit/<%= match.id %>/<%= thread.id %>/update" method="POST">
										<input type="hidden" name="view" value="<%= thread.events.view %>">
										<input type="hidden" name="exclude" value="<%= form.exclude(thread.events.exclude) %>">

										<button class="btn-link" type="submit">Update</button>
									</form>
								</td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			<% } %>

			<form action="/matches/reddit/<%= match.id %>" method="POST">
				<div class="row">
					<div id="reddit-form" class="col-md-6">
						<fieldset class="user-fields">
							<legend>User</legend>

							<div class="form-group">
								<label for="user_username">Username</label>
								<input type="text" class="form-control" name="user_username" id="user_username" value="<%= session ? session.username : '' %>">
							</div>
							<div class="form-group">
								<label for="user_password">Password</label>
								<input type="password" class="form-control" name="user_password" id="user_password">
							</div>
						</fieldset>

						<fieldset class="thread-fields">
							<legend>Thread</legend>

							<div class="form-group">
								<label for="thread_title">Title</label>
								<input type="text" class="form-control" name="thread_title" id="thread_title" value="Match Thread: <%= format.teams(lineup.teams) %>">
							</div>

							<div class="form-group">
								<label for="thread_subreddit">Subreddit</label>
								<input type="text" class="form-control" name="thread_subreddit" id="thread_subreddit" value="soccer">
							</div>


							<div class="row">
								<div class="col-md-3 thread-captcha">
									<img src="<%= iif(captcha.id, captcha.url) %>">
								</div>
								<div class="col-md-9">
									<div class="form-group">
										<label for="thread_captcha_solution">Captcha</label>
										<input type="text" class="form-control" name="thread_captcha_solution" id="thread_captcha_solution">
										<input type="hidden" name="thread_captcha_id" value="<%= captcha.id %>">
									</div>
								</div>
							</div>

							<div class="separator">
								<div class="strikethrough"></div>
								<div class="legend">or</div>
							</div>

							<div class="form-group">
								<label for="thread_url">URL</label>
								<input type="text" class="form-control" name="thread_url" id="thread_url">
								<p class="help-block">Update existing thread (all other thread fields are ignored)</p>
							</div>

							<div class="separator">
								<div class="strikethrough"></div>
								<div class="legend"></div>
							</div>

							<label class="event-view-label">Event view</label>

							<div class="row">
								<div class="col-md-6">
									<div class="radio">
										<label>
											<input type="radio" name="view" value="simple"
												onchange="window.reload()" <%- form.checked(query.view === 'simple') %>>
											Simple text events
										</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="radio">
										<label>
											<input type="radio" name="view" value="reddit"
												onchange="window.reload()" <%- form.checked(query.view === 'reddit') %>>
											Reddit styled events
										</label>
									</div>
								</div>
							</div>

							<label class="exclude-events-label">Exclude events</label>

							<%{ './_exclude' }%>
						</fieldset>

						<div class="actions">
							<input type="submit" class="btn btn-primary" value="Create">
						</div>
					</div>

					<div class="col-md-6">
						<iframe id="thread-content" src="/matches/<%= match.id %>.md" frameborder="0"></iframe>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>