.match-navigation {
	margin-top: 30px;
	margin-bottom: 20px;
}
.match-navigation .thread-count {
	margin-left: 5px;
}
.match-navigation .back {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.match-navigation .back:hover {
	background-color: transparent;
	border-color: transparent;
}

.form-link {
	padding: 0;
	margin: 0;
}
.form-link .btn-link {
	padding: 0;
	border: none;
	outline: none;
}

table > tbody > tr > td.timestamp {
	font-size: 11px;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
table  > tbody > tr > td.timestamp .created {
	margin-right: 5px;
}
