<!DOCTYPE html>
<html>
	<head>
		<title>Dribler - <%= format.teams(lineup.teams) %></title>

		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/app.css">

		<style type="text/css">
			iframe {
				border: none;
				margin: 0;
				padding: 0;

				width: 100%;
			}
		</style>

		<script type="text/javascript">
			(function() {
				var resize = function(iframe) {
					var height = iframe.contentWindow.document.body.scrollHeight;
					iframe.style.height = height + 'px';
				};

				var reload = function() {
					var form = document.getElementById('query');
					form.submit();
				};

				window.resize = resize;
				window.reload = reload;
			}());
		</script>
	</head>
	<body>
		<div class="container">
			<%{ '../_tabs' { active: extension, iif: iif, match: match } }%>

			<form id="query" method="GET" role="form" class="events-filter">
				<div class="row">
					<div class="col-md-6">
						<fieldset>
							<legend>Event view</legend>

							<div class="radio">
								<label>
									<input type="radio" name="view" value="simple"
										onchange="window.reload()" <%- form.checked(query.view === 'simple') %>>
									Simple text events
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="view" value="reddit"
										onchange="window.reload()" <%- form.checked(query.view === 'reddit') %>>
									Reddit styled events
								</label>
							</div>
						</fieldset>
					</div>

					<div class="col-md-6">
						<fieldset>
							<legend>Exclude events</legend>

							<%{ '../_exclude' }%>
						</fieldset>
					</div>
				</div>
			</form>

			<iframe src="/matches/<%= match.id %>.<%= extension %><%= search %>" frameborder="0" onload="window.resize(this)"></iframe>
		</div>
	</body>
</html>
